
.slideshow_box {
  margin-bottom: @spacer-base*3;
  .slideshow_content {
    width:100%;
    .slideshow_content_inner {
      position: absolute;
      right:60px;
      bottom: 60px;
      padding: @spacer-base*3;
      background-color: @white;
      .calc(max-width,"100% - 120px");
      .calc(max-height,"100% - 120px");
      text-align:center;
      min-width: 400px;
    }
    .slideshow_headline {
      font-size: 32px;
      line-height:1;
      color: @brand-primary;
      margin-bottom: @spacer-base*2;
      text-transform: uppercase;
      margin-top: 0;
      font-weight: @font-weight-bold;
    }
    .slideshow_text {
      font-weight: @font-weight-bold;
      font-size: @font-size-medium;
      margin-top:0;
      margin-bottom: @spacer-base*2;
    }
    .slideshow_button {
      .button {
        color: @brand-primary;
        text-transform: uppercase;
      }
    }
  }
  .owl-carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    > a {
      display: block;
      position: absolute;
      left:0;
      top: 0;
      width:100%;
      height:100%;
    }
  }
}

@media (max-width:  @screen-sm-max) {
  .slideshow_box .owl-carousel-item.animated {
    height: 400px !important;
  }
}

@media (max-width: @screen-xs-max) {
  .slideshow_box {
    .slideshow_content {
      width:100%;
      position: absolute;
      bottom:0;
      left:0;
      text-align: center;
      .slideshow_content_inner {
        position: static;
        .calc(max-width,"100% - 80px");
        .calc(max-height,"100% - 80px");
        text-align:center;
        min-width: 400px;
        margin-bottom: 40px;
        display: inline-block;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .slideshow_box .owl-carousel-item.animated {
    height: 300px !important;
  }
  .slideshow_box {
    .slideshow_content {
      .slideshow_content_inner {
        padding: @spacer-base*1.5;
        .calc(width,"100% - 40px");
        .calc(max-height,"100% - 40px");
        min-width:0;
        max-width:none;
        margin-bottom: 40px;
      }
      .slideshow_headline {
        font-size: 24px;
      }
    }
  }
}