<div class="customer_address">
    <div class="left" style="position:relative;float:left;width:30%;">
        <div class="Label">
            <a href="//b2c/de/account/showEditAddress/?action=shop_login_account&test_cont=1&id={{id}}">{{codeLabel}}</a>
        </div>
        <div class="Label">
            {{nameLabel}}
        </div>
        <div class="Label">
            {{name2Label}}
        </div>
        <div class="Label">
            {{addressLabel}}
        </div>
        <div class="Label">
            {{address2Label}}
        </div>
        <div class="Label">
            {{cityLabel}}
        </div>
        <div class="Label">
            {{postCodeLabel}}
        </div>
        <div class="Label">
            {{countryLabel}}
        </div>
    </div>
    <div class="right" style="position:relative;float:left;width:70%;">
        <div class="noneditable_text_field">
            <a href="/b2c/de/account/showEditAddress/?action=shop_login_account&test_cont=1&id={{id}}">{{code}}</a>
        </div>
        <div class="noneditable_text_field">
            {{name}}
        </div>
        <div class="noneditable_text_field">
            {{name_2}}
        </div>
        <div class="noneditable_text_field">
            {{address}}
        </div>
        <div class="noneditable_text_field">
            {{address_2}}
        </div>
        <div class="noneditable_text_field">
            {{city}}
        </div>
        <div class="noneditable_text_field">
            {{post_code}}
        </div>
        <div class="noneditable_text_field">
            {{country}}
        </div>
    </div>
    <div style="clear: both;"></div>
</div>