
.imageGallery {
  margin-bottom: -@grid-gutter-width/2;
  &__item {
    padding-bottom: @grid-gutter-width;
    > a {
      width: 100%;
      display: block;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      &:before {
        content: " ";
        display: block;
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        .transition(0.2s ease-in-out);
      }
      &:after {
        content: "\f2ed";
        font-family: "fontawesome";
        display: block;
        position: absolute;
        left:50%;
        top:50%;
        font-size: 100px;
        line-height: 1em;
        margin-top: -50px;
        margin-left: -50px;
        color: @white;
        .transition(0.2s ease-in-out);
        .opacity(0);
        text-shadow: 0 0 20px fade(#000000,30);

      }
      &:hover {
        &:before {
          background-color: fade(@white,40);
        }
        &:after {
          .opacity(1);
        }
      }

      @media (max-width: @screen-md-max) {
        height: 150px;
      }

      @media (max-width: @screen-sm-max) {
        height: 120px;
        &:after {
          font-size: 60px;
          margin-top: -30px;
          margin-left: -30px;
          text-shadow: 4px 0 6px fade(#000000,30);

        }
      }

      @media (max-width: @screen-xs-max) {
        height: 100px;
      }

      @media (max-width: @screen-xs) {
        height: 70px;
        &:after {
          font-size: 40px;
          margin-top: -20px;
          margin-left: -20px;
          text-shadow: 2px 0 3px fade(#000000,30);

        }
      }
    }
  }

  @media (max-width: @screen-lg-max) {
    > .row {
      margin-left: -@spacer-base;
      margin-right: -@spacer-base;
    }
    &__item {
      padding-left: @spacer-base;
      padding-right: @spacer-base;
      padding-bottom: @spacer-base*2;
    }
  }

}

.ekko-lightbox {
  .modal-dialog {
    width: auto;
  }
  .modal-body {
    padding: @spacer-base;
  }
  .ekko-lightbox-nav-overlay {
    position: static;
    a {
      position: absolute;
      top: 50%;
      left:0;
      .opacity(1);
      height: 100px;
      width: 100px;
      line-height: 100px;
      margin-top: -50px;
      margin-left: -150px;
      color: #ffffff;
      display: block;
      text-align: center;
      font-size: 18px;
      .text-shadow(0 0 80px fade(#000000,40));
      i {
        line-height: 100px;
        font-size: 100px;
      }
      &:last-child {
        left:auto;
        right:0;
        margin-left: 0;
        margin-right: -140px;
      }
      &:hover {
        color: @brand-primary;
      }

      @media (max-width: @screen-xs-max){
        margin-left: 0;
        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: @screen-xs){
        height: 50px;
        width: 50px;
        line-height: 50px;
        margin-top: -25px;
        i {
          line-height: 50px;
          font-size: 50px;
          .text-shadow(0 0 10px rgba(0,0,0,0.5));
        }
      }
    }
  }
}