
.googlemaps_content {
  border-top: 1px solid @light-gray;
  max-width:100%;
  img {
    max-width:none !important;
  }

  @media (max-width: @screen-lg-max){

  }

  @media (max-width: @screen-md-max){

  }

  @media (max-width: @screen-sm-max){

  }

  @media (max-width: @screen-xs-max){

  }

  @media (max-width: @screen-xs){
    height: 300px !important;
  }

}