#itemcard_right {
  .orderbox {
    background-color: @light-gray;
    padding: @spacer-base*2;
    margin-bottom: @spacer-base*2;
    a {
      text-decoration: underline;
      color: @text-base;
      &:hover {
        color: @brand-primary;
      }
    }
    .itemcard_order_button_input_wrapper_outer {
      margin-bottom:0;
      max-width:none;
    }
  }
}