
.button,.btn {
  display:inline-block;
  padding:  @spacer-base*1.5  @spacer-base*2;
  min-width: 160px;
  border: 1px solid @input-border-color;
  color: @input-border-color;
  cursor: pointer;
  background-color: @white;
  text-align: center;
  .transition(0.2s ease-in-out);
  font-size: 18px;
  letter-spacing: 0.5px;
  &:hover,&:focus {
    border-color: @text-base;
    color: @text-base;
  }

  @media (max-width: @screen-lg-max){

  }

  @media (max-width: @screen-md-max){
    font-size: 16px;
  }

  @media (max-width: @screen-sm-max){
    padding: @spacer-base;
  }

  @media (max-width: @screen-xs-max){
    font-size: 14px;
  }

  @media (max-width: @screen-xs){

  }
}

.button_primary,
.btn-primary{
  &:extend(.button all);
  color: @brand-primary;
  border-color: @brand-primary;
  &:hover,&:focus {
    color: @white;
    border-color: darken(@brand-primary,5%);
    background-color: darken(@brand-primary,5%);
  }
  &:active {
    color: @white;
    border-color: darken(@brand-primary,10%);
    background-color: darken(@brand-primary,10%);
  }
}

.button_second,
.btn-second{
  &:extend(.button all);
  background-color: @brand-second;
  color: @white;
  border-color: @brand-second;
  &:hover,&:focus {
    background-color: darken(@brand-second,15%);
    border-color: darken(@brand-second,15%);
  }
  &:active {
    background-color: darken(@brand-second,25%);
    border-color: darken(@brand-second,25%);
  }
}

.button_warning,
.btn-warning{
  &:extend(.button all);
  background-color: @brand-warning;
  color: @white;
  border-color: @brand-warning;
  &:hover,&:focus {
    background-color: darken(@brand-warning,15%);
    border-color: darken(@brand-warning,15%);
  }
  &:active {
    background-color: darken(@brand-warning,25%);
    border-color: darken(@brand-warning,25%);
  }
}

.button_success,
.btn-success{
  &:extend(.button all);
  background-color: @brand-success;
  color: @white;
  border-color: @brand-success;
  &:hover,&:focus {
    background-color: darken(@brand-success,15%);
    border-color: darken(@brand-success,15%);
  }
  &:active {
    background-color: darken(@brand-success,25%);
    border-color: darken(@brand-success,25%);
  }
}

.button_info,
.btn-info {
  &:extend(.button all);
  background-color: @brand-info;
  color: @white;
  border-color: @brand-info;
  &:hover,&:focus {
    background-color: darken(@brand-info,15%);
    border-color: darken(@brand-info,15%);
  }
  &:active {
    background-color: darken(@brand-info,25%);
    border-color: darken(@brand-info,25%);
  }
}

.button_action,
.btn-action {
  &:extend(.button all);
  background-color: @brand-action;
  color: @white;
  border-color: @brand-action;
  &:hover,&:focus {
    background-color: darken(@brand-action,15%);
    border-color: darken(@brand-action,15%);
  }
  &:active {
    background-color: darken(@brand-action,25%);
    border-color: darken(@brand-action,25%);
  }
}

.button_danger,
.btn-danger {
  &:extend(.button all);
  background-color: @brand-danger;
  color: @white;
  border-color: @brand-danger;
  &:hover,&:focus {
    background-color: darken(@brand-danger,15%);
    border-color: darken(@brand-danger,15%);
  }
  &:active {
    background-color: darken(@brand-danger,25%);
    border-color: darken(@brand-danger,25%);
  }
}

.button_row {
  margin-top: @spacer-base*2;
  margin-bottom: @spacer-base*2;
  margin-left: -5px;
  margin-right: -5px;
  &:after {
    clear: both;
    display: block;
    content: " ";
  }
  .button_paypalexpress {
    display: inline-block;
  }
  .button,
  .button_paypalexpress{
    margin: @spacer-base 5px;
  }

  @media (max-width: @screen-xs) {
    text-align: center;
    .pull-left,
    .pull-right{
      float:none !important;
    }
    .button {
      min-width: 220px;
    }
  }
}

.button_row_bottom {
  &:extend(.button_row all);
  margin-bottom:0;
}

.button_row_top {
  &:extend(.button_row all);
  margin-top:0;
}